.img{
	width: 7em;
	height:7em;
	border-radius: 50%;
}
.h2-titulo, .p-img, .etiqueta-usuario{
	text-align: center;
}
.contenedor{
	padding: 2em 0;
}
.h2-titulo--margin{
	margin-top: 2em;
	text-align: center;
}
.p-descripcion{
	padding: 1em;
	text-align: center;
}
.p-total{
	width: 50%;
	margin: auto;
	text-align: right;
}