html{
	font-size: 1em;
}
body{
	color: black !important;
}
.logo{
	 font-family: 'Yellowtail', cursive;
	 font-size: 1.5rem;
}
.logo-img{
	padding-bottom: 0.4em;
}
.nav-item-active a{
	border-bottom: 2px solid #ff9c00;
}
.fa-cart-shopping{
	color:black;
	font-size: 16px;
} 
.badge:after{
	content:attr(value);
	font-size:12px;
	color: #fff;
	background: #ff9c00;
	border-radius:50%;
	padding: 2px 4px;
	position:relative;
	left:-8px;
	top:-10px;	
}
.titulo{
	 font-family: 'Yellowtail', cursive;
	 text-align: center;
	 font-size: 2rem;
	 color:#ff9c00;
	 margin-top: 2.5rem;
}
.subtitulo{
	font-size: 1.3rem;
	text-align: center;
	/*text-transform: uppercase;*/
}
.img-separador{
	text-align: center;
	margin-bottom: 3rem;
	text-align: center;
}
.img-separador img{
	height: 18px;
}
#contacto, #nosotros{
	height: 80vh;
}
.contenedor-redes{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	padding: 1rem 0;
}
.contenedor-redes a{
	color: #000;
}
.contenedor-redes a:hover{
	text-decoration: none;
}
.contenedor-redes div{
	width: calc(50% - 1em);
}
.contenedor-redes p{
	text-align: center;
	width: 55%;
	margin: 1.5rem auto;
	padding: 0.5rem 0;
	border-radius: 0.5rem;
	transition: 0.2s linear;
	outline: none;
	box-shadow: 1px 1px 14px 3px rgba(216,219,224,0.93);
	-webkit-box-shadow: 1px 1px 14px 3px rgba(216,219,224,0.93);
	-moz-box-shadow: 1px 1px 14px 3px rgba(216,219,224,0.93);
	cursor: pointer;
}
.contenedor-redes p:hover{
	transform: scale(103%);
}
.card{
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	transition: .2s linear;
	margin-bottom: 3rem;
}
.card:hover{
	transform: scale(105%);
}
.card-title{
	font-size: 1.2rem;
}
.categoria-p{
	width: 40%;
	padding: 0.3rem 1.2rem;
	margin: auto;
	background-color: #ff9c00;
	color: #fff;
	border-radius: 1.8rem;
}
.categoria-p:hover{
	background-color: #fff;
	color:  #ff9c00;
	outline: 2px solid  #ff9c00;
}
.div-frase{
	padding: 2.2rem 0;
	margin-top: 3rem;
	margin-bottom: 2rem;
	font-family: 'Yellowtail', cursive;
	text-align: center;
	color: #fff;
	background-image: url(../img/fondo-patron.jpg);
	background-position: center;
	background-size: contain;
}
.div-frase h4{
	font-size: 3rem;
}
.div-frase p{
	font-size: 1.5rem;
	color:#ff9c00;
	width: 60%;
	margin: auto;
	text-align: right;
}